<!DOCTYPE html>
<html>
<head>
	<title>Aakash_Dashboard</title>
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css') }}">
	<script src="{{url_for('static',filename='styles/javascript.js') }}"></script>
	<meta charset="utf-8">
    <meta http-equiv="refresh" content="5" >


</head>
<body>
	<div class="container">
	  <div class="side">
	    <h1>Resume Dashboard</h1>
	    <ul class="links">
	      <li><a href="#" class="selected" data-metric="visits">Visits</a></li>
	    </ul>

	    <div class="stats">
	      <ul data-metric="visits">
	        <li>
	          <div class="key">Total Applications</div>
	          <div class="val">356</div>
	        </li>
	        <li>
	          <div class="key">Average</div>
	          <div class="val">50.9</div>
	        </li>
	        <li>
	          <div class="key">Change</div>
	          <div class="val">+122.2%</div>
	        </li>
	      </ul>
	    </div>
	  </div>
	  <div class="main">
	    <ul>
	      <li class="active">
	        <article tabindex="0" data-metric="visits">
	          <div class="area">
	            <div class="lines">
	              <div></div>
	              <div></div>
	              <div></div>
	              <div></div>
	              <div></div>
	              <div></div>
	            </div>
	            <div class="data visits">
	            	{% for key,value in graph.items()%}
	              <dl>
	                <dt>{{ key }}</dt>
	                <dd>{{ value }}</dd>
	              </dl>
	            	{% endfor %}
	            </div>
	          </div>
	          <h1>Visits</h1>
	        </article>
	      </li>
	    </ul>
	  </div>
	</div>



</body>
</html>